/*//////////////

      HEADER

////////////////*/

.header{
    background-color: #1877F2;
    height: 10vh;
}
.header img{
    height: 8vh;
}
.header__wrapper{
    height: 10vh;
    width: 55%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p{
    font-weight: 500;
    font-size: 18px;
}