a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #1877F2;
}
html{
  background-color: #F5F3FF;
  font-size: 18px;
}
.container {
  width: 60%;
  height: 90vh;
  margin: 0 auto;
  background-color: #F5F3FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}